.home-content-video-container {
  position: relative;
  height: 582px;
  width: 970px;
  margin: auto;
  margin-top: 108px;
  margin-bottom: 108px;
}

.home-content-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  position: absolute;
  z-index: 0;
}

.home-video-text-container {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  height: 100%;
  justify-content: center;
  text-align: center;
}
