.header{
    background: var(--gradient);
}

.nav-row{
    padding: 13px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-info{
    display: flex;
    justify-content: space-between;
    column-gap: 77px;
}

.name-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-menu{
    display: flex;
    column-gap: 32px;
}

.header-menu-link{
    color: var(--text-color);
}