.footer{
    margin-top: auto;
    background: var(--gradient);
}

.footer-wrapper{
    max-width: 220px;
    margin: auto;
    padding-top: 23px;
    padding-bottom: 23px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.footer-icons{
    display: flex;
    column-gap: 10px;
}

.footer-icons a img{
    border-radius: 7px;
}