.skills-main-title{
    color: var(--primary-color);
    font-size: 64px;
    font-weight: bold;
    width: 880px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
}

.skills-slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-slider-rotate-arrow{
    transform: rotate(180deg);
}

.skills-slider-slide{
    position: relative;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s linear;
}

.skills-slider-slide img{
    transform: scale(0.7);
}

.hide-slide{
    opacity: 0;
    position: absolute;
    z-index: -1;
}